<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/users/list">Users</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-6">Add User</h1>
<form action="/user/create" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" class="form-control">
    </div>
    <input type="submit" value="submit" class="btn btn-primary">
</form>